.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 900px;
    height: 500px;
    display: flex;
}

.first{
    background-color: hsl(31, 77%, 52%);
    height: 100%;
    width: 33%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}

.second{
    background-color: hsl(184, 100%, 22%);
    height: 100%;
    width: 34%;
}

.third{
    background-color: hsl(179, 100%, 13%);
    height: 100%;
    width: 33%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    margin-top: 14%;
    margin-left: 14%;
    border-radius: 100%;
    width: 90px;
    height: 55px;
}

.title{
    margin-left: 14%;
    margin-top: 12%;
    font-size: 40px;
    color: white;
}

.text{
    margin-left: 14%;
    margin-top: 12%;
    color: white;
    font-size: 20px;
    max-width: 75%;
}

button{
    margin-left: 14%;
    margin-top: 30%;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    opacity: 0.85;
}

button:active{
    opacity: 0.68;
}

.first button{
    color: hsl(31, 77%, 52%);
}

.second button{
    color: hsl(184, 100%, 22%);
}

.third button{
    color: hsl(179, 100%, 13%);
}